body {
    margin: 0;
}

.logo {

    text-align: right;
    color: #cccccc;
}

.yellow {

    background-color: #ffe400;
}

.top_left {

    height: 250px;
    width: 700px;
    background-color: #ffe400;
}

.top_middle {

    background-color: #f5f5f5;
}

.top-right {

    height: 250px;
    width: 300px;
    background-color: white;
}

.second_top_left {

    height: 250px;
    width: 700px;
    background-color: #e3e3e3;
}

.second_top_middle {

    background-color: #2297d8;
}

.second_top_right {

    background-color: #f5f5f5;
}

.fourth_2_4 {

    background-color: #d7d7d7;
}

.eight_1 {

    background-color: #fcf3d3;

}

.text {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    text-align: justify;
    padding-left: 30px;
    background-color: #ffe400;

}

.text1 {
    font-size: 10px;
    text-transform: none;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;

}

.text2 {

    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    text-align: justify;
    padding-left: 0px;
    background-color: white;
    color: #363636;
}

.text3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-transform: none;
    margin-top: 10px;
    color: #d3d3d3;

}

.text4 {

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform: none;

    color: #363636;
}

.text5 {

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform: none;

    color: #363636;
}

.black {

    background-color: black;
}

.text6 {

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform: none;

    color: white;

    margin-top: 70px;

}

.text7 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform: none;

    color: #363636;
    text-align: center;

}

.text8 {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-transform: none;

    color: #363636;
    text-align: center;

}

p {

    margin: 0 0 3px;
}

.image {

}

.text9 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-transform: uppercase;

}

.text10 {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-transform: none;
    margin-top: 10px;
    color: black;

}

.text11 {

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
}

.text12 {

    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-top: 30px;
    color: #707070;

}

.text13 {

    font-family: 'Montserrat', sans-serif;
    font-size: 10px;

    text-transform: none;

    color: #a7a7a7;

}

.text14 {

    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    text-align: justify;
    padding-left: 0px;
    margin-top: 8px;
    color: white;

}

.text15 {

    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: #7dc8f6;
    margin-top: 20px;

}

.text16 {

    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: white;

}

.text17 {

    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    text-align: justify;
    padding-left: 0px;
    margin-top: 0px;
    color: white;
}

.text18 {

    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #9b9b9b;
    margin-top: 2px;

}

.text19 {

    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #9b9b9b;
    margin-left: 12px;
    margin-top: 15px;

}
.text20{

    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    text-align: justify;
    padding-left: 0px;
    margin-top: 0px;
    color: black;
}

.footer {

    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: #9b9b9b;
    margin-top: 20px;

}

li {

    display: inline;
    float: inherit;
    padding: 0px 0px 0px 7px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: #9b9b9b;
    margin-top: 20px;

}

.email {

    height: 38px;
    color: #7abade;
}

.click {

    font-family: 'Montserrat', sans-serif;
    background-color: black;
    height: 35px;
    border-color: black;
    color: white;
    padding: 0px 10px 0px 10px;
    text-transform: uppercase;
    font-size: 10px;
}

.click1 {

    font-family: 'Montserrat', sans-serif;
    background-color: #ffe400;
    height: 35px;
    color: black;
    padding: 0px 10px 0px 10px;
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 10px;
    border-color: #ffe400;;

}

.anchor {

    text-align: center;

    font-size: 20px;

}

.anchor_1 {

    text-align: center;
    padding-top: 40px;
    transform: rotate(180deg);
    font-size: 20px;

}
.anchor_2{

    text-align: center;
    padding-top: 40px;
    transform: rotate(180deg);
    font-size: 20px;
    color:#ffe400;

}

.number {

    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    vertical-align: top;

}

.number_1 {

    vertical-align: text-top;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}


.test {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    background-color: white
}

.test_1 {

    padding-top: 20px;
    padding-bottom: 20px;

}

.play_video {

    font-size: 55px;
    text-align: center;
    color: white;
    margin-bottom: 0px;
    margin-top: 30px;

}

.play_video_1 {

    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin-top: 10px;

}

.third_1 {
    height: 200px;
    width: 325px;
    background-color: red;

}

.pdf {

    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: #363636;

}

.pdf1 {

    text-align: center;
    margin-top: 40px;
}

.signup {

    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: right;
    color: white;

}

.contact {

    text-align: center;
    color: white;
    margin-bottom: 0px;
    margin-top: 35px;
}

.border {
    border: 0px gray;
}

.h290 {
    height: 230px;
    padding: 30px;
}

.h290_cus {
    height: 230px;

}

.height_cus {

    height: 60px;

}
.two {

    background: black none repeat scroll 0 0;
    display: inline-block;
    height: 4px;
    width: 30px;
}

.two_1{
    background: white none repeat scroll 0 0;
    display: inline-block;
    height: 4px;
    width: 30px;

}
.two_2{

    background: lightgrey none repeat scroll 0 0;
    display: inline-block;
    height: 4px;
    width: 30px;

}
